* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0; 
    font: 18px 'Courier', Arial, sans-serif;
    background: #D8D5D2;
    padding: 20px;
    color: #222;
}


.wrap {
    background: #FFF;
    border: 0px solid #456;
    padding: 10px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  width: 1000px;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.title {
  font-weight: bold;
  font-family: "helvetica neue";
  text-transform: uppercase;
}

.box {
    margin: 5px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    float: left;
    overflow: hidden;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }